body{
  background: #F3F5FC;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.tablero-horcado{
  background: black;
  border:3px solid #dddddd;
  margin: 0 auto;
  display: block;
}

#iniciar-juego{
  width: 250px;
  height: 75px;
}
 
#agregar-nueva-palabra{
  width: 200px;
  height: 60px;
}


.boton-azul{
  background: #0A3871;
  width: 250px;
  height: 50px;  
  color: #E5E5E5;
  border-radius: 20px;
  transition: all .5s;
}

.boton-azul:hover{
  background: #E5E5E5;
  color: #0A3871;
  transform: scale(1.2);
}

.boton-blanco{
  background: #E5E5E5;
  width: 250px;
  height: 50px;
  color: #0A3871;
  border: 1px solid #0A3871;
  border-radius: 20px;
  margin: 20px;
  transition: all .5s;
}

.boton-blanco:hover{
  background: #0A3871;
  color: #E5E5E5;
  transform: scale(1.2);
}

.botones-en-columna{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#palabra-secreta-a-agregar{
  background: #F3F5FC;
  border: none;
  width: 200px;
  height: 40px; 
}

::placeholder{ color: #0A3871; font-size: large;}

#aclaracion-maximo-letras{
  position: relative;
  margin: 20px;
  right: 170px;
  top: 25px;
}

.botones-de-costado{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#mensajes-al-usuario{
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  color: #0A3871;
}

#modal::backdrop{
  background-color: rgba(0, 0, 0, .55);
}

#modal{
  max-width: 300px;
  max-height: 200px;
}

footer{
  margin-top: 40px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

footer > label{
  margin-right: 35px;
  font-size: 25px;
} 

a{
  text-decoration: none;
}

a:hover{
  border-bottom: 2px solid;
}

a:active{
  color: yellow;
}

.oculto{
  display: none;
}

.error{
  border: solid red 4px;
}
