body{
  background: #F3F5FC;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: xx-large;
  text-align: center;
  margin-top: 20px;
  color: #0A3871;
}

#img-logo-alura{
  margin-left: 50px;
}

.tablero-horcado{
  background: black;
  border:3px solid #dddddd;
  margin: 0 auto;
  display: block;
}

#iniciar-juego{
  width: 250px;
  height: 75px;
}
 
#agregar-nueva-palabra{
  width: 200px;
  height: 60px;
}

.boton-azul{
  background: #0A3871;
  width: 250px;
  height: 50px;  
  color: #E5E5E5;
  border-radius: 20px;
  margin: 25px;
  transition: all .5s;
  font-size: larger;
}

.boton-azul:hover{
  background: #E5E5E5;
  color: #0A3871;
  transform: scale(1.1);
}

.boton-blanco{
  background: #E5E5E5;
  width: 250px;
  height: 50px;
  color: #0A3871;
  border: 1px solid #0A3871;
  border-radius: 20px;
  margin: 25px;
  transition: all .5s;
  font-size: larger;
}

.boton-blanco:hover{
  background: #0A3871;
  color: #E5E5E5;
  transform: scale(1.1);
}

.botones-en-columna{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#palabra-secreta-a-agregar{
  background: #F3F5FC;
  border: none;
  width: 200px;
  height: 40px; 
}

::placeholder{ color: #0A3871; font-size: large;}

#aclaracion-maximo-letras{
  position: relative;
  margin: 20px;
  right: 170px;
  top: 35px;
}

.botones-de-costado{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mensajes-al-usuario{
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  color: #0A3871;
}

#modal{
  max-width: 400px;
  max-height: 300px;
  color: #0A3871;
  background: #E5E5E5;
  text-align: center;
  border-radius: 10px;
}

#modal::backdrop{
  background-color: rgba(0, 0, 0, .55);
  
}

#mensaje-de-modal{
  margin-top: 15px;
}

footer{
  margin-top: 140px;
  display: flex;
  justify-content: center;
}

footer > label{
  margin-right: 35px;
  font-size: 25px;
} 

a{
  text-decoration: none;
  font-family: Georgia, 'Times New Roman';
  font-size: xx-large;
}

a:hover{
  border-bottom: 2px solid;
}

a:active{
  color: #0A3871;
}

.oculto{
  display: none;
}

.error{
  border: solid red 4px;
}
